<%= form_with(model: practitioner_availability, url: practitioner_dashboard_practitioner_availabilities_path, class: "contents") do |form| %>
  <% if practitioner_availability.errors.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3"
    >
      <h2><%= pluralize(
          practitioner_dashboard_practitioner_availability.errors.count,
          "error",
        ) %>
        prohibited this practitioner_dashboard_practitioner_availability from
        being saved:</h2>

      <ul class="list-disc ml-6">
        <% practitioner_dashboard_practitioner_availability.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
  <div class="my-5">
    <%= form.label :start_time %>
    <%= form.datetime_field :start_time,
                        class: [
                          "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
                          {
                            "border-gray-400 focus:outline-blue-600":
                              practitioner_availability.errors[
                                :start_time
                              ].none?,
                            "border-red-400 focus:outline-red-600":
                              practitioner_availability.errors[
                                :start_time
                              ].any?,
                          },
                        ] %>
  </div>

  <div class="my-5">
    <%= form.label :end_time %>
    <%= form.datetime_field :end_time,
                        class: [
                          "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
                          {
                            "border-gray-400 focus:outline-blue-600":
                              practitioner_availability.errors[
                                :end_time
                              ].none?,
                            "border-red-400 focus:outline-red-600":
                              practitioner_availability.errors[
                                :end_time
                              ].any?,
                          },
                        ] %>
  </div>

  <div class="inline">
    <%= form.submit class:
                  "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
